body {
  background-image: url(https://d2r55xnwy6nx47.cloudfront.net/uploads/2019/07/AGN_1160_Lede.jpg);
}
.navbar {
  background-image: url(https://wallpaperaccess.com/full/741557.jpg);
}
.navbar-brand {
  margin: auto;
}
.card-img-top {
  height: 200px;
  width: 250px;
}
.navbar-nav {
  margin-left: 1150px;
  text-align: right;
}
.box1 {
  width: 90%;
  margin: auto;
  overflow: auto;
}
.subtitle {
  color: azure;
  height: 120px;
  text-align: center;
  padding-top: 35px;
}
.Search{
  height: 80px;
}
.Boy{
  margin: auto;
  width:80%;
  padding-top: 80px;
}

